In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\anandraj\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\anandraj\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\anandraj\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\anandraj\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\anandraj\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\anandraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\anandraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\anandraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\anandraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\anandraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\anandraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\anandraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\anandraj\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\anandraj\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\anandraj\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\anandraj\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
**you have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [4]:
driver = webdriver.Chrome(r"C:\Users\AnandRaj\Downloads\internship\chromedriver.exe")

In [5]:
driver.get('https://www.naukri.com/')

In [9]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [11]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

In [12]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [13]:
# Scrapping job-title from the webpage
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    job_title.append(i.text)
    
# Scrapping job location from the webpage
job_location=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    job_location.append(i.text)

# Scrapping Company Name from the webpage
company_name=[]
for i in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    company_name.append(i.text)

# Scrapping Experience from the webpage
experience_required=[]
for i in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')[0:10]:
    experience_required.append(i.text)

In [14]:
# converting scrapped data into DataFrame
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name,'Experience_required':experience_required})
df

,Job_Title,Job_Location,Company_Name,Experience_required
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs
2,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
3,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs
4,Senior Data Analyst,Bangalore/Bengaluru(Domlur),KrazyBee,3-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs
6,Women on career break_ Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Zinnov Management C,5-10 Yrs
7,BYJU'S DBEL : Sr Data Analyst,Bangalore/Bengaluru,BYJUS,3-7 Yrs
8,SR. Data Analyst- SME- Pharma and Healthcare,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",CHRYSELYS,2-6 Yrs
9,Data Analyst,(WFH during Covid),McAfee,2-7 Yrs

# Q2 : Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
**You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [11]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time 
driver = webdriver.Chrome(r"C:\Users\AnandRaj\Downloads\internship\chromedriver.exe")

In [12]:
driver.get('https://www.naukri.com/')

In [13]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [14]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys("Bangalore")

In [15]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()

In [16]:
# Scrapping job-title from the webpage
job_title=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    job_title.append(i.text)
    
# Scrapping job location from the webpage
job_location=[]
for j in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    job_location.append(j.text)

# Scrapping Company Name from the webpage
company_name=[]
for k in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    company_name.append(k.text)

In [17]:
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name})
df

,Job_Title,Job_Location,Company_Name
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
4,Data Scientist - A.P. Maersk,Bangalore/Bengaluru,Maersk
5,Data Scientist,(WFH during Covid),Infosys
6,Data Scientist,Bangalore/Bengaluru,Infosys
7,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited
8,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited
9,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited

# Q3: In this question you have to scrape data using the filters available on the webpage 
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [20]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time 
driver = webdriver.Chrome(r"C:\Users\AnandRaj\Downloads\internship\chromedriver.exe")

In [21]:
driver.get('https://www.naukri.com/')

In [23]:
#entering "Data Scientist" in "Skill, Designation, Companies" field
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [26]:
#clicking the Search button
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/div[1]/div/button/span")
search.click()

In [28]:
#applying location filter and selecting "Delhi/NCR" otion
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/div[1]/div/div/div[5]/div/div/div/input")
location.click()

In [31]:
#applying Salary filter and selecting "3-6 lakhs" otion
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[3]/label/p")
salary.click()

In [32]:
# Scrapping job-title from the webpage
jtitle=[]
for i in driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[0:10]:
    jtitle.append(i.text)
    
# Scrapping job-location from the webpage
jloc=[]
for j in driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')[0:10]:
    jloc.append(j.text)

# Scrapping Company name from the webpage
comp=[]
for k in driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[0:10]:
    comp.append(k.text)
    
# Scrapping Experience required from the webpage
exp=[]
for l in  driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')[0:10]:
    exp.append(l.text)

In [33]:
# converting scrapped data into DataFrame
df=pd.DataFrame({'Job_Title':jtitle,'Job_Location':jloc,'Company_Name':comp,'Experience required':exp})
df

,Job_Title,Job_Location,Company_Name,Experience required
0,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
1,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
2,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited,3-7 Yrs
3,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited,2-7 Yrs
4,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited,2-7 Yrs
5,Lead ML Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Analytics,6-10 Yrs
6,Tcs Hiring For Data Scientist,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS),3-8 Yrs
7,Senior Associate - MSET Support Role QR,"Japan, Mumbai",Morgan Stanley,0-3 Yrs
8,Data Scientist,"Noida, Bangalore/Bengaluru",Paytm,1-2 Yrs
9,Senior Data Scientist ( Analytics ),(WFH during Covid),Atlassian,5-9 Yrs

#  Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [31]:
driver = webdriver.Chrome(r"C:\Users\AnandRaj\Downloads\internship\chromedriver.exe")

driver.get('https://www.flipkart.com/')

In [ ]:
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [ ]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [34]:
# Scrapping Brand detail from the webpage
brand=[]
for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
    brand.append(i.text)

# Scrapping Product Description from the webpage
pro1=[]
for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
    pro1.append(j.text)
    
pro2=[]
for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
    pro2.append(j.text)
    
pro_des=pro1+pro2

# Scrapping Price from the webpage
price=[]
for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
    price.append(k.text)

# Scrapping Discount from the webpage
dis=[]
for l in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
    dis.append(l.text)

In [35]:
# converting 1st page scrapped data into DataFrame
df=pd.DataFrame({'Brand':brand,'Product Description':pro_des,'Price':price,'Discount':dis})
df

,Brand,Product Description,Price,Discount
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)","₹1,049",47% off
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,533",23% off
2,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹265,86% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
5,Elligator,UV Protection Round Sunglasses (54),₹298,88% off
6,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195,88% off
7,VINCENT CHASE,UV Protection Rectangular Sunglasses (50),₹699,65% off
8,PIRASO,UV Protection Aviator Sunglasses (54),₹246,84% off
9,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
10,VINCENT CHASE,UV Protection Rectangular Sunglasses (52),₹699,65% off
11,Roadster,UV Protection Oval Sunglasses (55),₹459,58% off
12,Mi,Polarized Aviator Sunglasses (Free Size),₹799,33% off
13,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹267,73% off
14,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
15,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
16,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹199,80% off
17,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹949,52% off
18,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719,20% off
19,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹269,82% off
20,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹949,52% off
21,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349,82% off
22,Fastrack,UV Protection Round Sunglasses (52),₹599,25% off
23,PIRASO,UV Protection Aviator Sunglasses (54),₹279,82% off
24,PIRASO,UV Protection Aviator Sunglasses (58),₹359,86% off
25,Rich Club,UV Protection Retro Square Sunglasses (54),₹299,57% off
26,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,169",10% off
27,PIRASO,UV Protection Rectangular Sunglasses (52),₹296,88% off
28,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹265,82% off
29,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹220,77% off
30,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449,77% off
31,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...","₹1,049",58% off
32,SRPM,UV Protection Wayfarer Sunglasses (50),₹211,83% off
33,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off
34,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹749,70% off
35,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹499,75% off
36,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹219,78% off
37,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,533",23% off
38,ROYAL SON,Mirrored Aviator Sunglasses (55),₹399,73% off
39,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,039",20% off

In [37]:
# for scrapping data from next pages, defining Start & End of the page
start= 0
end= 3
for page in range(start,end):
    
# Scrapping Brand detail from the next pages
    for j in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        brand.append(j.text)
    
# Scrapping Product Description from the next pages
    for k in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
        pro1.append(k.text)
        
    for l in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        pro2.append(l.text)
        
    pro_des=pro1+pro2
    
# Scrapping Price from the next pages    
    for m in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        price.append(m.text)
    
# Scrapping Discount from the next pages
    for n in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
        dis.append(n.text)  
    
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='ge-49M']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[page].get_attribute('href'))#getting the link from the list for next page
    except:
        print("Page not found")

# converting first 100 scrapped data into DataFrame
df1=pd.DataFrame({'Brand Name':brand,'Product Description':pro_des, 'Price':price,'Discount':dis})
df1.head(100)

,Brand Name,Product Description,Price,Discount
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)","₹1,049",47% off
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,533",23% off
2,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹265,86% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
...,...,...,...,...
95,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹288,80% off
96,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹259,80% off
97,Roadster,UV Protection Oval Sunglasses (55),₹459,58% off
98,PIRASO,UV Protection Aviator Sunglasses (55),₹279,82% off
99,kingsunglasses,UV Protection Round Sunglasses (54),₹216,80% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
**As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [44]:
driver = webdriver.Chrome(r"C:\Users\AnandRaj\Downloads\internship\chromedriver.exe")

In [47]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-128-gb/product-reviews/itmf1f0a58f1ecd7?pid=MOBFWBYZK3HACR72&lid=LSTMOBFWBYZK3HACR72PX4KSA&mar')

In [48]:
rate1=[]
rate2=[]
summary=[]
f_rev=[]

# for scrapping data from different pages to get first 100 reviews, defining Start & End of the page
start=0
end=15
for page in range(start,end):
    
# Scrapping rating from different pages 
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'):
        rate1.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]'):
        rate2.append(i.text)
    rate=rate1+rate2

# Scrapping Review Summary from different pages
    for j in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
        summary.append(j.text)
        
# Scrapping Full Review from different pages
    for k in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'):
        f_rev.append(k.text)
        
#scraping the list of reviews data from different pages
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_button[1].get_attribute('href')) #getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [49]:
# converting scrapped data for first 100 reviews into DataFrame
review=pd.DataFrame({'Rating':rate,'Review Summary':summary,'Full Review':f_rev})
review.head(100)

,Rating,Review Summary,Full Review
0,5,Terrific,Wow superb camera phone\nVery smooth speed and...
1,5,Perfect product!,The brand is very trustworthy and i got genuin...
2,5,Terrific purchase,Awesome phone … value for money.. Happy with b...
3,5,Mind-blowing purchase,"Guys ,this is just Beast at Every Aspect of Co..."
4,5,Highly recommended,Thanx flipkart for value super sale for short ...
...,...,...,...
95,4,Super!,Appreciated with product!!!!!! It's amazing🤩 w...
96,5,Pretty good,"Delivery is super fast, after using it for 2 w..."
97,5,Wonderful,Plz don't hesitate even a bit for ordering iph...
98,5,Brilliant,"This iPhone 12 was replacing Android , so it w..."
99,4,Awesome,An absolute charm to have this phone in your h...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [51]:
driver = webdriver.Chrome(r"C:\Users\AnandRaj\Downloads\internship\chromedriver.exe")

In [52]:
driver.get('https://www.flipkart.com/')

In [53]:
close=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close.click()

In [54]:
#entering "sneakers" in "search for products" field
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [55]:
#clicking the Search button
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [56]:
#introducing list for brand, product description, price & discount
brand=[]
prod1=[]
prod2=[]
price=[]
discount=[]

# for scrapping data from different pages to get first 100 reviews, defining Start & End of the page
for page in range(0,3):
    
# Scrapping brand list from different pages 
    for i in driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]'):
        brand.append(i.text)
        
# Scrapping product description from different pages 
    for j in driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]'):
        prod1.append(j.text)
        
    for c in driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]'):
        prod2.append(c.text)
    prod=prod1+prod2
    
# Scrapping price from different pages 
    for k in driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]'):
        price.append(k.text)
        
# Scrapping discount from different pages 
    for l in driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]'):
        discount.append(l.text)
        
#scraping the required data from different pages
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [57]:
Sneaker_data=pd.DataFrame({'Brand':brand,'Product Description':prod,'Price':price,'Discount':discount})
Sneaker_data.head(100)

,Brand,Product Description,Price,Discount
0,Arivo,White sneaker Sneakers For Men,₹539,72% off
1,TR,Sneakers For Men,₹399,73% off
2,Labbin,Sneakers For Men,₹499,50% off
3,aadi,Sneakers For Men,₹288,71% off
4,Magnolia,Sneakers For Men,₹419,58% off
...,...,...,...,...
95,Sparx,Sneakers For Men,₹709,15% off
96,PUMA,Women White Pink Colourblocked Flatform Sneake...,"₹2,557",43% off
97,HOTSTYLE,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹292,70% off
98,Bretton,Sneakers For Men,₹251,74% off
99,Echor,WATERPROOF-05cFULLWHITE Sneakers For Men,₹599,40% off

# Q7: Go to the link - https://www.myntra.com/shoes 
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe

In [20]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time 
driver = webdriver.Chrome(r"C:\Users\AnandRaj\Downloads\internship\chromedriver.exe")

In [21]:
driver.get('https://www.myntra.com/shoes')

In [22]:
price_filter=driver.find_element(By.XPATH,"//ul[@class='price-list']/li[2]/label/div")
price_filter.click()
time.sleep(2)

In [23]:
#Selecting required filter of colour black
colour_filter=driver.find_element(By.XPATH,"//span[@data-colorhex='black']")
colour_filter.text
colour_filter.click()
time.sleep(2)

In [24]:
# Selecting required filter of price

price_filter=driver.find_element(By.XPATH,"//ul[@class='price-list']/li[2]/label/div")
price_filter.click()
time.sleep(2)

In [25]:
brand=[]
s_s_desc=[]
price=[]
b_name=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
desc=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
pr=driver.find_elements(By.XPATH,"//div[@class='product-price']/span[1]")
#Using for loop with len function to iterate equal data
for j in range(len(desc)):
    brand.append(b_name[j].text)
    s_s_desc.append(desc[j].text)
    price.append(pr[j].text)
print(brand)
print(s_s_desc)
print(price)

#Clicking Next Button to reach next page to extract data
n_button=driver.find_element(By.XPATH,"//li[@class='pagination-next']/a")
n_button.click()

['Nike', 'Hush Puppies', 'Tommy Hilfiger', 'Nike', 'ADIDAS Originals', 'Skechers', 'ADIDAS Originals', 'Tommy Hilfiger', 'Nike', 'Nike', 'Nike', 'Nike', 'ADIDAS', 'Nike', 'PUMA Motorsport', 'Puma', 'Puma', 'ADIDAS', 'ROSSO BRUNELLO', 'ADIDAS', 'UNDER ARMOUR', 'Puma', 'Nike', 'ADIDAS', 'ADIDAS Originals', 'UNDER ARMOUR', 'Puma', 'Puma', 'ADIDAS Originals', 'Tommy Hilfiger', 'Nike', 'Tommy Hilfiger', 'Puma', 'Nike', 'Reebok', 'Puma', 'PUMA Hoops', 'Nike', 'ADIDAS', 'ALDO', 'Hush Puppies', 'ADIDAS Originals', 'ADIDAS Originals', 'Nike', 'Skechers', 'Skechers', 'Tommy Hilfiger', 'Puma', 'Nike', 'Hush Puppies']
['Men ZOOM WINFLO8 Running Shoes', 'Men Solid Leather Formal Slip-Ons', 'Men Solid Sneakers', 'Lebron Witness VI Basketball', 'Men Leather Niteball Sneakers', 'Men Sports Shoes', 'Men ZX 22 BOOST Sneakers', 'Men Slip-On Sneakers', 'Men React Infinity 3 Running', 'Men Running Shoes', 'Men JORDAN LOW Basketball Shoe', 'Men SRG 3 FK Training Shoes', 'Men Entry Hiker 2.R.RDY Trek', 'Kyrie Flytrap 5 Basketball', 'Mercedes AMG Petronas F1 Shoes', 'Men Reverse Classics Sneakers', 'Eternity Nitro Running Shoes', 'Men Dropset Training Shoes', 'Men Textured Leather Loafers', 'Men Defiant Generation Tennis', 'Men UA TriBase Reign4 Training', 'Men Liberate Running Shoes', 'Men Zoom C Pro HC Tennis Shoes', 'Men Solar Glide 4 ST Running', 'Men Solid Oznova Sneakers', 'Men HOVR Sonic SE Running Shoe', 'Unisex Wild Rider Sneakers', 'Men Nitro 2 WIDE Running Shoes', 'Men Ozrah Leather Sneakers', 'Men Leather Sneakers', 'Air Max Axis Sneakers', 'Men Leather Sneakers', 'Men Deviate Nitro Shoes', 'Women Running Shoes', 'Men Zig Dynamica2Adventure Run', 'Unisex Eliminate Pro II Shoes', 'Fives Blaze Court Basketball', 'Men REACT MILER 3 Running Shoe', 'Women Eastrail 2 Hiking Shoes', 'Men Leather Loafers', 'Men Perforations Leather Slip-On Sneakers', 'Men Retropy F90 Sneakers', 'Men Woven NMD_31 Sneakers', 'Women React Escape Running', 'Men Sports Shoes', 'Men Walking Shoes', 'Men Leather Sneakers', 'Men Velocity Nitro 2 Running', 'Men FREE RUN 2 Sneakers', 'Men Solid Leather Formal Slip-Ons']
['Rs. 7880Rs. 8295', 'Rs. 7649Rs. 8999', 'Rs. 8999', 'Rs. 8295', 'Rs. 10799Rs. 11999', 'Rs. 8499', 'Rs. 10799Rs. 11999', 'Rs. 7999', 'Rs. 13295Rs. 13995', 'Rs. 7495', 'Rs. 12795', 'Rs. 8450Rs. 8895', 'Rs. 7649Rs. 8999', 'Rs. 8195', 'Rs. 9349Rs. 10999', 'Rs. 7199Rs. 8999', 'Rs. 12999', 'Rs. 12999', 'Rs. 12999', 'Rs. 7999Rs. 9999', 'Rs. 10199Rs. 11999', 'Rs. 8799Rs. 10999', 'Rs. 7560Rs. 8895', 'Rs. 9749Rs. 14999', 'Rs. 11999', 'Rs. 8499Rs. 9999', 'Rs. 7199Rs. 8999', 'Rs. 9599Rs. 11999', 'Rs. 11049Rs. 12999', 'Rs. 8299', 'Rs. 8355Rs. 8795', 'Rs. 7799', 'Rs. 10499Rs. 14999', 'Rs. 7880Rs. 8295', 'Rs. 8999', 'Rs. 7199Rs. 8999', 'Rs. 8249Rs. 10999', 'Rs. 10495', 'Rs. 7999', 'Rs. 7799Rs. 12999', 'Rs. 7999', 'Rs. 9999', 'Rs. 11199Rs. 13999', 'Rs. 9770Rs. 11495', 'Rs. 7999', 'Rs. 7999', 'Rs. 8299', 'Rs. 8799Rs. 10999', 'Rs. 9210Rs. 9695', 'Rs. 9999']

In [14]:
brand1=[]
s_s_desc1=[]
price1=[]
br_name=driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
desc1=driver.find_elements(By.XPATH,"//h4[@class='product-product']")
pr1=driver.find_elements(By.XPATH,"//div[@class='product-price']/span[1]")
for j in range(len(br_name)):
    brand1.append(br_name[j].text)
    s_s_desc1.append(desc1[j].text)
    price1.append(pr1[j].text)

['Hush Puppies', 'ADIDAS', 'ADIDAS Originals', 'ADIDAS', 'Xtep', 'Bugatti', 'fitflop', 'Saint G', 'ALDO', 'Tommy Hilfiger', 'ADIDAS', 'Skechers', 'Puma', 'Skechers', 'Bugatti', 'Saint G', 'ADIDAS', 'ADIDAS Originals', 'ADIDAS', 'Puma', 'Geox', 'Geox', 'fitflop', 'UNDER ARMOUR', 'Saint G', 'Geox', 'Tommy Hilfiger', 'TOMS', 'Tommy Hilfiger', 'J.FONTINI', 'Tommy Hilfiger', 'Saint G', 'Clarks', 'Puma', 'Clarks', 'Skechers', 'Geox', 'Clarks', 'ALDO', 'Saint G', 'Geox', 'DAVINCHI', 'Hush Puppies', 'Saint G', 'Skechers', 'ALDO', 'Skechers', 'Tommy Hilfiger', 'Tommy Hilfiger', 'ROSSO BRUNELLO']
['Men Solid Leather Formal Slip-Ons', 'Women Supernova Running Shoes', 'Men Woven Nmd_R1 Sneakers', 'Men Adizero Adios 7 Running', 'Men Skateboarding Shoes', 'Men Walking Shoes', 'Embellished Leather Flatform Sandals', 'Leather Rhinestone Decor Boots', 'Men Perforations Brogues Shoes', 'Women Leather Sneakers', 'Women SL20.3 Running Shoes', 'Men Go Run Hyper Burst Running', 'Unisex KING Pro 21 Football', 'Men Sports Shoes', 'Men Running Shoes', 'Leather Block', 'Women Adizero Adios 7 Run Shoe', 'Men Colorblocked Ozrah Sneaker', 'Women Super 3.0 Running Shoes', 'Women UltraRide Running Shoes', 'Men Textured Leather Driving Shoes', 'Men Leather Sneakers', 'Embellished Leather Wedge Sandals', 'Women Charged Vantage 2 Run', 'Leather Ankle Boots', 'Women Leather Heeled Boots', 'Men Leather Mid-Top Sneakers', 'Men Solid Sneakers', 'Men Solid Sneakers', 'Men Textured Leather Loafers', 'Men Leather Sneakers', 'Block Heeled Boots', 'Men Leather Slip-Ons', 'Women Magnify Nitro Running', 'Men Woven Design Suede Flat Boots', 'Men Woven Design Sneakers', 'Flatform Heels', 'Men Perforations Leather Derbys', 'Men Embossed Derby Formal Shoes', 'Leather Block Sandals', 'Women Textured Leather Loafers', 'Men Solid Leather Formal Loafers', 'Men Solid Formal Slip-Ons', 'Leather Block Sandals with Buckles', 'Women Printed Trekking Shoes', 'Women Ballerinas Flats', 'Women Arch Fit Slip-On Sneaker', 'Women Leather Kitten Sandals', 'Women Solid Slim Heel Sandals', 'Men Solid Leather Formal Derbys']
['Rs. 9999', 'Rs. 9999', 'Rs. 12999', 'Rs. 9599Rs. 11999', 'Rs. 8599', 'Rs. 7499Rs. 9999', 'Rs. 8299', 'Rs. 13205Rs. 13900', 'Rs. 12999', 'Rs. 7599', 'Rs. 7799Rs. 11999', 'Rs. 8499', 'Rs. 8499Rs. 9999', 'Rs. 8499', 'Rs. 7499Rs. 9999', 'Rs. 9975Rs. 10500', 'Rs. 9599Rs. 11999', 'Rs. 11699Rs. 12999', 'Rs. 8999', 'Rs. 8999', 'Rs. 10990', 'Rs. 10990', 'Rs. 7499', 'Rs. 7199Rs. 7999', 'Rs. 9025Rs. 9500', 'Rs. 8999Rs. 17999', 'Rs. 10999', 'Rs. 8999', 'Rs. 9999', 'Rs. 8490', 'Rs. 8799', 'Rs. 7980Rs. 8400', 'Rs. 9999', 'Rs. 9099Rs. 12999', 'Rs. 9999', 'Rs. 7499', 'Rs. 11990', 'Rs. 7999', 'Rs. 9599Rs. 15999', 'Rs. 9810Rs. 10900', 'Rs. 9990', 'Rs. 8490', 'Rs. 9999', 'Rs. 8505Rs. 10500', 'Rs. 8999', 'Rs. 7999', 'Rs. 7999', 'Rs. 7199Rs. 7999', 'Rs. 7299', 'Rs. 8799Rs. 10999']

In [15]:
brands=brand+brand1
s_s_describe=s_s_desc+s_s_desc1
prices=price+price1

In [16]:
#making DataFrame of the scrapped data
df=pd.DataFrame(list(zip(brands[0:100],s_s_describe[0:100],prices[0:100])),columns=["Brand","Short Shoe Description","Price"])
df

               Brand             Short Shoe Description               Price
0               Nike     Men ZOOM WINFLO8 Running Shoes    Rs. 7880Rs. 8295
1       Hush Puppies  Men Solid Leather Formal Slip-Ons    Rs. 7649Rs. 8999
2     Tommy Hilfiger                 Men Solid Sneakers            Rs. 8999
3               Nike       Lebron Witness VI Basketball            Rs. 8295
4   ADIDAS Originals      Men Leather Niteball Sneakers  Rs. 10799Rs. 11999
..               ...                                ...                 ...
95              ALDO             Women Ballerinas Flats            Rs. 7999
96          Skechers     Women Arch Fit Slip-On Sneaker            Rs. 7999
97    Tommy Hilfiger       Women Leather Kitten Sandals    Rs. 7199Rs. 7999
98    Tommy Hilfiger      Women Solid Slim Heel Sandals            Rs. 7299
99    ROSSO BRUNELLO    Men Solid Leather Formal Derbys   Rs. 8799Rs. 10999

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” 
You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [34]:
driver = webdriver.Chrome(r"C:\Users\AnandRaj\Downloads\internship\chromedriver.exe")

In [35]:
driver.get('https://www.amazon.in/')

In [36]:
# entering "Laptop" in search field
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [38]:
# clicking on the search button
search_button=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search_button.click()

In [40]:
# setting CPU Type filter to “Intel Core i7” as required
cpu_type=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/div[1]/span')
cpu_type.click()

In [41]:
# Scrapping product title from the webpage
title=[]
for i in driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')[0:10]:
    title.append(i.text)
    
# Scrapping product price from the webpage
price=[]
for j in driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')[0:10]:
    price.append(j.text)

In [42]:
Laptop=pd.DataFrame({'Title':title,'Price':price}) 
Laptop.head(10)

                                               Title   Price
0  Sponsored\nHP 15s- 11th Gen Intel Core i5 -8GB...  51,890
1  Sponsored\nHP 15s, 11th Gen Intel Core i3, 8GB...  42,499
2  Lenovo IdeaPad Slim 3 Intel Celeron N4020 15.6...  27,490
3  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  25,490
4  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  21,288
5  Lenovo E41-55 AMD 14-inch (35.56cm) HD Thin an...  67,000
6  ASUS TUF Gaming A15, 15.6" (39.62 cm) FHD 144H...  51,500
7  Dell New Inspiron 3525 Laptop, Intel Athlon Si...  43,900
8  ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...  79,900
9  (Renewed) Dell Latitude E5470 Intel Core i5 6t...  24,999

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. 
You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [70]:
driver = webdriver.Chrome(r"C:\Users\AnandRaj\Downloads\internship\chromedriver.exe")

In [71]:
driver.get('https://www.ambitionbox.com/')

In [72]:
jobs=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
jobs.click()

In [78]:
#entering "Data Scientist" in "Skill, Designation, Companies" field
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

In [87]:
# clicking on location icon
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]')
location.click()

# entering "Noida" for location search
place=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
place.send_keys('Noida')

In [88]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search.click()

In [89]:
company=[]
for i in driver.find_elements(By.XPATH,'//p[@class="company body-medium"]'): #scrapping company name from page
    company.append(i.text)

# Scrapping No. of days ago when job was posted from the webpage
day=[]
for j in driver.find_elements(By.XPATH,'//span[@class="body-small-l"]'):
    day.append(j.text)
del day[1:20:2] 
    
# Scrapping Rating of the Company from the webpage
rating=[]
for k in driver.find_elements(By.XPATH,'//span[@class="body-small"]'):
    rating.append(k.text)

In [90]:
Jobs=pd.DataFrame({'Company Name':company, 'No. of Days ago when job was posted':day, 'Rating':rating})
Jobs

,Company Name,No. of Days ago when job was posted,Rating
0,CBRE South Asia Pvt Ltd,26d ago,4.3
1,GENPACT India Private Limited,19d ago,4.0
2,Genpact,21d ago,4.0
3,Ericsson India Global Services Pvt. Ltd.,1mon ago,4.3
4,GENPACT India Private Limited,29d ago,4.0
5,Dew Solutions Pvt. Ltd.,4d ago,4.3
6,Ericsson India Global Services Pvt. Ltd.,1mon ago,4.3
7,One97 Communications Limited,12d ago,3.8
8,EY,1mon ago,3.8
9,R Systems International Ltd.,15d ago,3.7

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [92]:
driver = webdriver.Chrome(r"C:\Users\AnandRaj\Downloads\internship\chromedriver.exe")

In [93]:
driver.get('https://www.ambitionbox.com/')

In [94]:
# selecting salary option
salary=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/a')
salary.click()

# selecting first option from drop down menu
browser=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/p')
browser.click()

In [97]:
# enterring 'Data Scientist' in Search job profile
job=driver.find_element(By.XPATH,'//input[@class="tt-input"]')
job.send_keys('Data Scientist')

In [98]:
# selecting first option from drop down menu
select=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div')
select.click()

In [99]:
# Scrapping company name from the webpage
comp=[]
for i in driver.find_elements(By.XPATH,'//div[@class="company-info"]/a'):
    comp.append(i.text.split("\n"))
    
# merging sub lists into a single list and deleting even place items to get required data
company=sum(comp,[])
del company[1:20:2]

# Scrapping total salary record from the webpage
bsal=[]
for a in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]/span'):
    bsal.append(a.text.replace('(','').replace(')',''))

# Scrapping Average salary from the webpage
avgsal=[]
for b in driver.find_elements(By.XPATH,'//p[@class="averageCtc"]'): 
    avgsal.append(b.text)

# Scrapping Minimum Salary & Maximum Salary from the webpage
min_sal=[]
max_sal=[]
for c in driver.find_elements(By.XPATH,'//div[@class="value body-medium"]'): 
    min_sal.append(c.text)
    max_sal.append(c.text)
del min_sal[1:20:2]
del max_sal[0:20:2]

# Scrapping Experience required data from the webpage
exp=[]
for d in driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]'): 
    exp.append(d.text.split('('))
    
# merging sub lists into a single list and deleting even place items to get required data   
req_exp=sum(exp,[]) 
del req_exp[1:20:2]

In [100]:
df=pd.DataFrame({'Company Name':company,'Total Salary Record':bsal,'Average Salary':avgsal,'Minimum Salary':min_sal,'Maximum Salary':max_sal,'Experience Required':req_exp})
df

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,based on 22 salaries,₹ 32.2L,₹ 25.0L,₹ 45.0L,3-4 yrs experience
1,Ab Inbev,based on 54 salaries,₹ 19.8L,₹ 15.0L,₹ 26.0L,2-4 yrs experience
2,Optum,based on 49 salaries,₹ 16.4L,₹ 11.0L,₹ 22.6L,2-4 yrs experience
3,ZS,based on 34 salaries,₹ 15.8L,₹ 11.0L,₹ 22.0L,1-2 yrs experience
4,Fractal Analytics,based on 116 salaries,₹ 15.5L,₹ 9.0L,₹ 24.0L,2-4 yrs experience
5,Tiger Analytics,based on 67 salaries,₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
6,Sigmoid Analytics,based on 10 salaries,₹ 14.7L,₹ 12.7L,₹ 19.7L,1 yr experience
7,Legato Health Technologies,based on 11 salaries,₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience
8,Tredence,based on 13 salaries,₹ 14.1L,₹ 8.8L,₹ 17.5L,3 yrs experience
9,HSBC,based on 10 salaries,₹ 14.0L,₹ 12.0L,₹ 18.0L,4 yrs experience