In [1]:
# Importing necessary library files
import warnings
warnings.simplefilter("ignore")
warnings.filterwarnings("ignore")


import selenium
import pandas as pd
import numpy as np
import time
import requests
import re
from selenium import webdriver 
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import ElementNotVisibleException
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException

In [2]:
# Connecting to the webdriver 
driver = webdriver.Chrome("chromedriver.exe")
driver.maximize_window()        # Maximizing the window

In [3]:
# Getting the webpage of mentioned url
url = "https://www.yatra.com/"
driver.get(url)
time.sleep(3)

In [4]:
name=[] #empty list
source=[] #empty list
dest=[] #empty list
dep=[] #empty list
arr=[] #empty list
duration =[] #empty list
stops=[] #empty list
info=[] #empty list
price=[] #empty list
url=[] #empty list

In [5]:
#the site uses cookies, click on I agree
Iagree = driver.find_element(By.XPATH, "//button[@class='btngdpr']")
Iagree.click()

In [6]:
#click on first location, "New DElhi", in section of popular domestic flight routes 
domdelhi = driver.find_element(By.XPATH, "//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/ul/li[1]")
domdelhi.click()

#collecting flights from Delhi to popular stops
urldm = driver.find_elements(By.XPATH,"//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/div/div/div/div[1]/div/a")
for i in urldm[:]:
        url.append(i.get_attribute('href'))

In [7]:
#click on second location, "Mumbai", in section of popular domestic flight routes 
dommum = driver.find_element(By.XPATH, "//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/ul/li[2]")
dommum.click()
     
#collecting flights from Mumbai to popular stops
urlmum = driver.find_elements(By.XPATH,"//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/div/div/div/div[1]/div/a")
for i in urlmum[:]:
        url.append(i.get_attribute('href'))

In [8]:
#click on third location, "BANGALORE", in section of popular domestic flight routes 
dombgl = driver.find_element(By.XPATH, "//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/ul/li[3]")
dombgl.click()

#collecting flights from BANGALORE to popular stops
urlbnl = driver.find_elements(By.XPATH,"//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/div/div/div/div[1]/div/a")
for i in urlbnl[:]:
        url.append(i.get_attribute('href'))

In [9]:
#click on fourth location, "HYDERABAD", in section of popular domestic flight routes 
domhyd = driver.find_element(By.XPATH, "//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/ul/li[4]")
domhyd.click()
     
#collecting flights from HYDERABAD to popular stops
urlhyd = driver.find_elements(By.XPATH,"//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/div/div/div/div[1]/div/a")
for i in urlhyd[:]:
        url.append(i.get_attribute('href'))

In [10]:
#click on fifth location, "Kolkata", in section of popular domestic flight routes 
domkol = driver.find_element(By.XPATH, "//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/ul/li[5]")
domkol.click()

#collecting flights from Kolkata to popular stops
urlkol = driver.find_elements(By.XPATH,"//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/div/div/div/div[1]/div/a")
for i in urlkol[:]:
        url.append(i.get_attribute('href'))res = [i for i in details if 'day' not in i]
len(res)

In [11]:
len(url)

50

In [12]:
details=[]
for j in url:      #fetching data of various flights from each page
    driver.get(j)
    time.sleep(2)
    
    #driver.find_element(By.XPATH,"//span[@class='flR mr15 view_more']/a").click()
#i-b text ellipsis
    airline=driver.find_elements(By.XPATH,"//div[@class='flight-det table full-width clearfix']")
    for i in airline:
        details.append(i.text)

In [13]:
detail_df=pd.DataFrame(details)
detail_df.head()

                                                   0
0  IndiGo\n6E-6475/6935\n06:20\nNew Delhi\n10:55\...
1  IndiGo\n6E-6034/6935\n05:00\nNew Delhi\n10:55\...
2  IndiGo\n6E-2033/6182\n23:40\nNew Delhi\n05:50\...
3  IndiGo\n6E-6034/6425\n05:00\nNew Delhi\n10:05\...
4  IndiGo\n6E-2033/2046\n23:40\nNew Delhi\n07:55\...

In [14]:
res = [i for i in details if 'day' not in i]
len(res)

558

In [15]:
del_row=detail_df.index[detail_df[0].str.find('day') != -1].tolist()

In [16]:
del_df = [detail_df[0].index.values for i in detail_df[0] if 'day' in i]

In [17]:
len(details)

690

In [18]:
Airlines_details=[]  
for i in res:
    Airlines_details.append(i.split('\n'))

In [19]:
name=[]
for i in Airlines_details:
    name.append(i[0])

In [20]:
source=[] #empty list
for i in Airlines_details:
    source.append(i[3])

In [21]:
destination=[] #empty list
for i in Airlines_details:
    destination.append(i[5])

In [22]:
dep_time=[] #empty list
for i in Airlines_details:
    dep_time.append(i[2])

In [23]:
arr_time=[] #empty list
for i in Airlines_details:
    arr_time.append(i[4])

In [24]:
duration =[] #empty list
for i in Airlines_details:
    duration.append(i[6])

In [25]:
stops=[] #empty list
for i in Airlines_details:
    stops.append(i[7])

In [26]:
price=[] #empty list
for i in Airlines_details:
    if i[8].find('at')==-1:
        price.append(i[8])
    else:
        pos=i[8].find('at')
        price.append(i[8][pos+2:])

In [27]:
info=[] #empty list
for j in url:      #fetching data of various flights from each page
    driver.get(j)
    time.sleep(2)
    try:    
        #fetching the additional information of the flight
        ad=driver.find_elements(By.XPATH,"//div[@class='features pull-right fs-12 flex']")
        for k in ad:
            y=k.text.split('\n')
            if y[0]=='Free Meal' or y[0]=='No Meal Fare':
                info.append(y[0])
            else:
                info.append('No info')
    except:
        info.append('No info')

In [28]:
info_df=pd.DataFrame(info)
info_df=info_df.drop(del_row)
info_df

           0
0    No info
1    No info
3    No info
6    No info
8    No info
..       ...
681  No info
682  No info
683  No info
686  No info
689  No info

[558 rows x 1 columns]

In [29]:
print(len(name),len(source),len(destination),len(dep_time),len(arr_time),len(duration),len(stops),len(price))

558 558 558 558 558 558 558 558

In [30]:
Flight = pd.DataFrame({})   #creating a datafrmae
Flight['Airline']=name
Flight['Source']=source
Flight['Destination']=destination
Flight['Dep_Time']=dep_time
Flight['Arrival_Time']=arr_time
Flight['Duration']=duration
Flight['Total_Stops']=stops
Flight['Additional_Info']=info_df[0]
Flight['Price (in ₹)']=price
Flight

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price (in ₹)
0,IndiGo,New Delhi,Mumbai,06:20,10:55,4h 35m,1 Stop,No info,"4,293"
1,IndiGo,New Delhi,Mumbai,05:00,10:55,5h 55m,1 Stop,No info,"4,293"
2,IndiGo,New Delhi,Mumbai,05:00,10:05,5h 05m,1 Stop,NaN,"4,441"
3,Go First,New Delhi,Mumbai,06:00,10:15,4h 15m,1 Stop,No info,"4,805"
4,Go First,New Delhi,Mumbai,17:30,21:25,3h 55m,1 Stop,NaN,"4,950"
...,...,...,...,...,...,...,...,...,...
553,Air Asia,Kolkata,Pune,08:30,14:10,5h 40m,1 Stop,No Meal Fare,"7,110"
554,Air Asia,Kolkata,Pune,16:00,22:35,6h 35m,1 Stop,No info,"7,110"
555,Air Asia,Kolkata,Pune,14:05,22:35,8h 30m,1 Stop,No info,"7,110"
556,Air Asia,Kolkata,Pune,05:25,17:05,11h 40m,1 Stop,No info,"7,110"
557,Air Asia,Kolkata,Pune,08:30,22:35,14h 05m,1 Stop,No info,"7,110"

In [31]:
Flight.to_csv('Flight price Dataset.csv')
#saving/exporting the dataset into excel

In [32]:
driver.quit()
#closing the chrome driver